sudo: false
dist: trusty
language: node_js
before_install:
  - wget https://download-chromium.appspot.com/dl/Linux_x64?type=snapshots -qO chrome.zip
  - unzip -n chrome.zip
  - export SPEEDRACER_CHROME=$(pwd)/chrome-linux/chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
cache:
  yarn: true
  directories:
    - node_modules
    - chrome-linux
branches:
  only:
    - master
    - /^greenkeeper-.*$/
notifications:
  email: false
node_js:
  - '6'
after_success: npm run coverage
